*
{
	padding: 0;
	margin: 0;
	font-family: Century Gothic;
}
body
{
	background-image: url(bg.jpg);
	background-size: cover;
	background-position: center;
	box-sizing: border-box;	
	margin-bottom: -20px;
}
.menu-bar
{
	background: white(0,100,0);
	text-align: center;
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;
}	
.menu-bar ul li
{
	width: 200px;
	margin: 15px;
	padding: 15px;
	font-size: 17px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
	background:  #b3daff;
	border-radius: 3px;
}
.menu-bar .fa
{
	margin-right: 5px;
}
.sub-menu-1
{
	display: none;
	font-size: 20px;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: white(0,100,0);
	margin-top: 15px;
	margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 105px;
	padding: 10px;
	border-bottom: 1px dotted #ffff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b3daff;
}